.main-img-box {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.products-banner {
    min-height: 35vh;
    position: relative;
    background-size: cover;
    background-position: center 80%;
    background-repeat: no-repeat;
    background-image: url('https://images.unsplash.com/photo-1490806843957-31f4c9a91c65?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
}

.favorite-banner {
    min-height: 40vh;
    position: relative;
    background-size: cover;
    background-position: center 60%;
    background-repeat: no-repeat;
    background-image: url('https://images.unsplash.com/photo-1514190051997-0f6f39ca5cde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
}

.products-banner .banner-text {
    min-height: 35vh;
    width: 100%;
    background-color: rgba(91, 87, 81, 0.267);
}

.favorite-banner .banner-text {
    min-height: 40vh;
    width: 100%;
    background-color: rgba(91, 87, 81, 0.267);
}

.img-box {
    margin: 0 auto;
    padding-bottom: 100%;
    width: 100%;
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.747);
}

.img-box .bg-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}