.head-page-bg {
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1526481280693-3bfa7568e0f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg-attach-fixed {
    background-attachment: fixed;
}

.bg-dark-gradient {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.8));
}

.link-deco-none {
    text-decoration: none;
}

.fixed-cart {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    border-radius: 50%;
    transition: all 0.3s;
    &:hover {
        width: 120px;
        height: 120px;
    }
}

.page-link-disabled {
    pointer-events: none;
}

.descripe-preLine {
    white-space: pre-line;
}

.go-checkout-btn {
    &:hover {
        background-color: rgb(252, 76, 76);
        color: white;
        i {
            opacity: 1;
        }
    }
    i {
        opacity: 0;
        transition: all 0.3s;
    }
}

.img-del-btn {
    z-index: 1;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.side-img-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 24px;
    background-color: rgba(255, 0, 0, 0.317);
    transition: all 0.3s;
}

.side-img-link.active {
    opacity: 1;
}

.lightbox-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
}

.card-hover {
    transition: all 0.3s;
    transform: scale(1.05);
    z-index: 3;
    box-shadow: 0 0 5px rgb(255, 126, 126);
}

.favor-card {
    transition: all 0.3s;
    &:hover {
        box-shadow: 0 3px 5px gray;
        transform: translateY(-5px);
    }
}

.social-btn {
    background: transparent;
    transition: all 0.5s;
    &:hover {
        transform: rotateZ(360deg) scale(1.2);
    }
}

.user-home-h1 {
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.539);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
}